@media only screen and (min-width: 700px) {
  .info {
    width: 100% !important;
    height: fit-content;
    padding-bottom: 150px !important;
    display: flex;
  }
  .info-txt {
    margin-top: 80px;
    margin-left: 50px;
    width: 50%;
    text-align: left;
    min-width: 500px;
  }
  .info-img {
    width: 50%;
  }
  .info-title {
    font-size: 52px;
    margin-top: 16px;
    margin-left: 26px;
    text-align: left;
  }
  .info-exp {
    text-align: left;
  }
}
.info {
  background-color: #dce9e2;
  width: 375px;
  height: 1080px;
  position: relative;
}
.info-mini-title {
  font-size: 14px;
  padding-top: 41px;
  margin-left: 60px;
  color: #00856f;
}
.info-title {
  font-size: 34px;
  margin-top: 16px;
  margin-left: 26px;
  text-align: center;
  color: #212529;
}
.info-exp {
  font-size: 18px;
  margin-top: 24px;
  margin-left: 26px;
  margin-right: 26px;
  text-align: center;
  color: #212529;
}

.info-button {
  margin-top: 32px;
  display: flex;
  margin-left: 56px;
  width: 270px;
  height: 52px;
  background-color: #00856f;
  border-radius: 45px;
}
.info-btn-img {
  margin-top: 14px;
  margin-left: 32px;
  color: white;
}
.info-btn-text {
  margin-top: 16px;
  margin-left: 16px;
  font-size: 14px;
  /* font-weight: bold; */
  color: white;
}
.info-big-picture {
  margin-top: 60px;
  margin-left: 57px;
}
