@media only screen and (min-width: 800px) {
  .info {
    width: 100% !important;
    display: flex;
  }
  .info-txt {
    margin-top: 80px;
    margin-left: 50px;
    width: 50%;
    text-align: left;
  }
  .info-img {
    width: 50%;
  }
  .info-title {
    font-size: 52px;
    margin-top: 16px;
    margin-left: 26px;
    text-align: left;
  }
  .info-exp {
    text-align: left;
  }
}
