@media screen and (min-width: 550px) {
  .about {
    width: 100%;
  }

  .about-box {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .about-box-txt {
    margin-left: 2%;
    min-width: 480px;
  }
  .about-box-img {
    margin-left: 6%;
  }
}
