@media screen and (min-width: 550px) {
  .about {
    width: 100% !important;
  }

  .about-box {
    width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .about-box-txt {
    width: 550px;
  }
}

.about {
  background-color: #fffaf1;
  display: flex;
}

.about-mini-title {
  font-size: 14px;
  padding-top: 41px;
  margin-left: 23px;
  color: #00856f;
}
.about-title {
  font-size: 29px;
  margin-top: 16px;
  margin-left: 24px;
  font-weight: bold;
  color: #212529;
}
.about-exp {
  font-size: 18px;
  margin-top: 24px;
  margin-left: 26px;
  margin-right: 26px;
  color: #212529;
}
.about-img {
  margin-top: 60px;
  margin-left: 24px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}
