@media screen and (min-width: 550px) {
  .contact {
    width: 100%;
    background-color: white;
    flex-direction: row;
  }
  .contact-img-box {
    margin-left: 100px;
    width: 50%;
  }
}

.contact {
  width: 375px;
  min-width: 375px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.contact-box {
  width: 325px;
}
.contact-title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 41px;
  margin: 23px;
  color: #212529;
}
.contact-address {
  margin-top: 24px;
  margin-left: 26px;
  margin-right: 26px;
  display: flex;
  /* text-align: center; */
}
.contact-address-icon {
  margin-right: 10px;
}
.contact-address-txt {
  font-size: 16px;
  padding-top: 2px;

  color: #212529;
}
.contact-email {
  margin-top: 24px;
  margin-left: 26px;
  margin-right: 26px;
  display: flex;
  /* text-align: center; */
}
.contact-email-icon {
  margin-right: 10px;
}
.contact-email-txt {
  padding-top: 2px;
  font-size: 16px;
  color: #212529;
}
.contact-whatsapp {
  font-size: 18px;
  margin-top: 24px;
  margin-left: 26px;
  margin-right: 26px;
  /* text-align: center; */
  color: #212529;
}
.contact-img {
  margin-top: 50px;
  margin-left: 26px;
  margin-bottom: 100px;
}
