@media only screen and (min-width: 800px) {
  .solution-box {
    width: calc(33.33% - 22px);
  }
  .solution-mini-title {
    font-size: 14px;
    color: #00856f;
  }
  .solution-title {
    font-size: 30px;
    font-weight: bold;
    width: 314px;
    color: #212529;
  }
}
