@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav .link-style {
		font-size: 18px;
	}
}
@media screen and (min-width: 700px) {
	.sidenav {
		display: none;
	}
	.menu-button {
		display: none;
	}

	.links-wider-page {
		display: block !important;
	}
	.button-wider-page {
		display: block !important;
	}

	.header {
		width: 100% !important;
		top: 0;
		min-width: 1200px;
	}
}
.header {
	top: 0;
	height: min-content;
	background-color: #dce9e2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.header-title {
	font-size: 24px;
	width: 132.86px;
	height: 17.38px;
	margin: 20px;
	color: #212529;
	flex: 1;
}
.header-title-bold {
	color: #00856f;
}
.menu-button {
	flex: 1;
	text-align: right;
	margin-top: -10px;
	margin-right: 10px;
	border: none;
}
.flag-menu-box {
	display: flex;
	flex-direction: column-reverse;
}
.icon-button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.icon-button svg {
	width: 100%;
	height: 100%;
	fill: #ffffff;
}
.links-wider-page {
	width: fit-content;
	margin: 0 auto;
	margin-top: 25px;
	display: flex;
	justify-content: center;
}
.info-button2 {
	margin-top: 17px;
	display: flex;
	margin-left: 56px;
	width: 210px;
	height: 40px;
	background-color: #dce9e2;
	border-radius: 45px;
	border: 2px solid #00856f;
}

.info-btn-text2 {
	margin-top: 10px;
	margin-left: 25px;
	font-size: 15px;
	font-weight: bold;
	color: #00856f;
	text-align: center;
}

.links-wider-page .link-style {
	margin-right: 35px;
	color: #00856f;
	text-decoration: none;
	font-size: 24px;
}
.links-wider-page .link-style:hover {
	color: #555;
	text-decoration: underline !important;
}

.links-wider-page {
	display: none;
	color: #00856f;
}
.button-wider-page {
	display: none;
	margin-right: 147px;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #00856f;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav .open {
	width: 275px;
}

.sidenav .link-style {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidenav .link-style:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.header-button {
	margin-top: 32px;
	display: flex;
	margin-left: 20px;
	width: 200px;
	height: 45px;
	background-color: white;
	border-radius: 45px;
}
.header-btn-text {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #00856f;
}
.icon-button svg {
	width: 100%;
	height: 100%;
	fill: #ffffff;
}
.link-style {
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}
